body,html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:rgb(58, 55, 55);
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    opacity: 0.80;
    background-size: cover;
    background-repeat: no-repeat;
/*
fixed = parallex
scroll = normal
*/
    background-attachment: fixed;

}
.pimg1{
    background-image:url('..//img/img1.jpeg');
    min-height: 100%;
}
.pimg2{
    background-image:url('..//img/img2.jpeg');
    min-height: 520px;

}
.pimg3{
    background-image:url('..//img/img3.jpeg');
    min-height: 520px;

}
section{
    text-align: center;
    padding: 60px 80px;
}
.section-light{
    background-color: rgb(252, 245, 186);
    color: rgb(80, 74, 74);
}
.section-dark{
    background-color: rgb(37, 61, 80);
    color: rgb(252, 245, 186);
}
.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    
    font-size: 30px;
    letter-spacing: 5px;
    text-transform:uppercase ;
}
.ptext .border{
    background-color: rgb(37, 61, 80);
    color:rgb(252, 245, 186);
    padding: 20px;

}
.ptext .border.trans {
    background-color: transparent;
}
.negan{
    display: inline-block;
    height: 60px;
    width: 30%;
    padding: 5px;
    float: left;
    text-align:justify;

}
.deryl{
    display: inline-block;
    height: 60px;
    width: 30%;
    padding: 5px;

    text-align: justify;

}
.michonne{
    display: inline-block;
    height: 60px;
    width: 30%;
    padding: 8px;
    float: right;
    text-align: justify;
}
nav{
    
    height: 57px;
    background-color:rgb(37, 61, 80); 

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

a{
    display: inline;
    padding: 10px;
    float: right;
    color:rgb(252, 245, 186);
   
    
}
footer{
    background-color:rgb(37, 61, 80); 
    color:rgb(252, 245, 186);
    text-align: center;
    padding: 30px 10px;
}
.logo{
    float: left;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
li,a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(252, 245, 186);
    text-decoration:none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color :rgb(37, 61, 80); 

}
.logo{
    cursor: pointer;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: thistle;
}
button{
    padding: 9px 25px;
    background-color:rgb(252, 245, 186);
   
    border: none;
    border-radius: 50px;
    color:rgb(63, 63, 141) ;

    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: black;
}
}
@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}


